<link rel="stylesheet" href="/css/style.css">

<footer class="footer-07" style="">
    <div class="container" style="margin-top: -5%; margin-bottom: -8%;">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="/" class="logo">eduCent.com</a></h2>
            </div>
        </div>
        <div>
            <div class="col-md-12 text-center">
              <p class="copyright">
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> 
                    Her hakkı saklıdır.
                 <a href="/" target="">eduCent.com</a>
              </p>
            </div>
        </div>
    </div>
</footer>