
<body style="background-color: rgba(31,72,96,255)">
    <span>
        <h1 style="text-align: center;margin-top: 5%; color: white;"><i class="bi bi-plus-circle-fill"></i><br>Soru Ekle</h1>
    </span>
<form action="/exam/test" method="POST">
    <div class="row m-5 pt-1" > 
    <div class="col-sm-6 mx-auto my-3 " > <!--3 KOLONLUK YER AYIR-->
  
        
    <div class="form-floating">
        <textarea class="form-control" name="soru"  id="floatingTextarea2" style="height: 100px; margin-bottom: 3%;" ></textarea>
        <label for="floatingTextarea2">Soru</label>
    </div>

    <div class="mb-3">
        <input type="text" name="dogruCevap" class="form-control" placeholder="Doğru Şık" >
    </div>

    <div class="mb-3">
        <input type="text" name="yanlis1" class="form-control" placeholder="Yanlış Şık" >
    </div>

    <div class="mb-3">
        <input type="text" name="yanlis2" class="form-control" placeholder="Yanlış Şık" >
    </div>

    <div class="mb-3">
        <input type="text" name="yanlis3" class="form-control" placeholder="Yanlış Şık" >
    </div>

    <div class="mb-3">
        <input type="text" name="yanlis4" class="form-control" placeholder="Yanlış Şık">
    </div>

    <select class="form-select" name="ders" aria-label="Default select example" style="margin-bottom: 5%;">
        <option selected>Hangi ders olduğunu seçin</option>
        <option value="Matematik">Matematik</option>
        <option value="Tarih">Tarih</option>
        <option value="Sosyal">Sosyal</option>
    </select>
    
    <button type="submit" class="btn btn-secondary col-sm-12 btn-class-lg"><b>Ekle</b></button>

    
    </div>
    </div>
</form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>