<body style="overflow-x: hidden;">
  
<div class="row" >
    <div class="col-sm-12" style="background-color: rgb(202, 238, 255);">

        <span class="font-weight-bold mt-5">
         <p style="
            text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 500%;
            margin-top: 7%; line-height: 100%;
        ">
         Öğrenmenin yeni yollarını <br>keşfedin
         </p>
         </span>

        <span class="mt-5">
        <p style="
            text-align: center; font-family: Calibri, 'Trebuchet MS', sans-serif; font-size: 150%;
            margin-left: 20%; margin-right: 20%; margin-top: 5%; margin-bottom: 13%; line-height: 120%;
        ">
            eduCent, onlarca farklı içerik türüyle etkileşimli içerik
            oluşturmanıza, düzenlemenize, görüntülemenize ve paylaşmanıza olanak tanıyan bir web uygulamasıdır. 
            Ücretsiz ve açık kaynaklıdır.
        </p>
        </span>
    </div>
</div>


<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="images/deneme_sinavi.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body ml-5">
          <h5 class="card-title ml-5" style="
                font-size: 300%;
          ">
              <b>Kendi sorularınızı<br> ekleyerek deneme sınavları oluşturun</b>
          </h5>
          <p class="card-text ml-5">
            Öğrenmeyi arttırmak için çalışılan konularda soru çözmenin önemini bildiğimiz için 
            kendinize özel sorular oluşturup belli bir süre diliminde deneme sınavını yapabilirsiniz.
            Deneme sınavından aldığınız not ise sistem tarafından hesaplanıp kayıt altına tutulur ve notlarınızı
            tablo halinde görebilirsiniz.

          </p>
        </div>
      </div>
    </div>
</div>


<div class="card-group" style="margin-top: -2%;">

<div class="card">
    <img src="images/H5P_Logo.svg" class="card-img-top" alt="H5P Editor">
    <div class="card-body">
      <p class="card-text">
        40'tan fazla içerik türü arasından seçim yapabilir ve bunları doğrudan H5P Hub'dan indirebilirsiniz.
      </p>
    </div>
</div>

<div class="card">
    <img src="images/H5P_Logo.svg" class="card-img-top" alt="H5P Editor">
    <div class="card-body">
    <p class="card-text">
        40'tan fazla içerik türü arasından seçim yapabilir ve bunları doğrudan H5P Hub'dan indirebilirsiniz.
    </p>
    </div>
</div>



<div class="card">
    <img src="images/H5P_Logo.svg" class="card-img-top"  alt="H5P Editor">
    <div class="card-body">
    <p class="card-text">
        40'tan fazla içerik türü arasından seçim yapabilir ve bunları doğrudan H5P Hub'dan indirebilirsiniz.
    </p>
    </div>
</div>

<div class="card">
    <img src="images/H5P_Logo.svg" class="card-img-top" alt="H5P Editor">
    <div class="card-body">
    <p class="card-text">
        40'tan fazla içerik türü arasından seçim yapabilir ve bunları doğrudan H5P Hub'dan indirebilirsiniz.
    </p>
    </div>
</div>

</div>
{{> site-footer}}
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>