
<body style="background-color: rgba(31,72,96,255)">
    <span>
        <h1 style="text-align: center;margin-top: 5%; color: white;"><i class="bi bi-send-plus-fill"></i><br>CONTACT</h1>
    </span>
<form action="" method="GET">
    <div class="row m-5 pt-1" > 
    <div class="col-sm-6 mx-auto my-3 " > <!--3 KOLONLUK YER AYIR-->
    

    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Ad" aria-label="First name">
    </div>
    
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Soyad" aria-label="Last name">
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Cep No" aria-label="Last name">
    </div>

    <div class="mb-3"> <!--MARGİN BOTTOM DEMEKTİR -  form-control-lg boyut büyür-->   
        <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Posta">    
    </div>

    <div class="form-floating">
        <textarea class="form-control"  id="floatingTextarea2" style="height: 100px; margin-bottom: 3%;" ></textarea>
        <label for="floatingTextarea2">Mesaj</label>
    </div>

    
    <button type="submit" class="btn btn-secondary col-sm-12 btn-class-lg"><b>Gönder</b></button>

    
    </div>
    </div>
</form>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>