<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="" width="" height="40" style="margin-top: -7%;" 
            class="d-inline-block align-text-top ml-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" 
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-4" style="font-family:-apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: large;">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
            </li>
            {{#unless displayLink}}
            <li class="nav-item">
            <a class="nav-link active" href="/about">Hakkımızda</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="/contact">İletişim</a>
            </li>
            {{/unless}}
            {{#if displayLink}}
            <li class="nav-item">
            <a class="nav-link active" href="/exam/test">Deneme Sınavı</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="/exam/newQuestion">Soru Ekle</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="/exam/all">Soru Havuzu</a>
            </li>
            {{/if}}
        </ul>
        <span class="navbar-text mr-5">
            
            {{#unless displayLink}}
            <a href="/users/login"><button type="button" class="btn btn-dark btn-lg">Giriş Yap</button></a>
            <a href="/users/register"><button type="button" class="btn btn-dark btn-lg">Üye Ol</button></a>
            {{/unless}}

            {{#if displayLink}}
            <a href="/users/logout"><button type="button" class="btn btn-dark btn-lg">Çıkış Yap</button></a>
            {{/if}}
        </span>
        </div>
    </div>
</nav>